.insta_logo {
    display: inline-block;
	background: url('../imgs/spritesheet.png') no-repeat -646px -5px;
	width: 30px;
	height: 30px;
}
.insta_letter {
    display: inline-block;
	background: url('../imgs/spritesheet.png') no-repeat -715px -7px;
	width: 107px;
	height: 31px;
}
.search_outline {
    display: inline-block;
	background: url('../imgs/spritesheet.png') no-repeat -228px -287px;
	width: 10px;
	height: 10px;
}

.home {
    display: inline-block;
	background: url('../imgs/spritesheet.png') no-repeat -874px -5px;
	width: 22px;
	height: 21px;
}
.camera_outline{
    display: inline-block;
    background: url('../imgs/spritesheet.png') no-repeat -3px -347px;
	width: 24px;
	height: 22px;
}
.compass_outline {
    display: inline-block;
	background: url('../imgs/spritesheet.png') no-repeat -840px -356px;
	width: 22px;
	height: 22px;
}
.heart_outline {
    display: inline-block;
	background: url('../imgs/spritesheet.png') no-repeat -315px -374px;
	width: 24px;
	height: 22px;
}
.person {
    display: inline-block;
	background: url('../imgs/spritesheet.png') no-repeat -440px -315px;
	width: 22px;
	height: 24px;
}
.more_icon {
    display: inline-block;
	background: url('../imgs/spritesheet.png') no-repeat -537px -393px;
	width: 14px;
	height: 4px;
}
.bubble_icon{
    display: inline-block;
    background: url('../imgs/spritesheet.png') no-repeat -367px -347px;
    width: 24px;
    height: 24px;
}
.share_icon {
    display: inline-block;
	background: url('../imgs/spritesheet.png') no-repeat -29px -374px;
	width: 24px;
	height: 21px;
}
.bookmark_outline {
    display: inline-block;
	background: url('../imgs/spritesheet.png') no-repeat -442px -55px;
	width: 19px;
	height: 24px;
}
.small_heart_outline{
    display: inline-block;
	background: url('../imgs/spritesheet.png') no-repeat -315px -374px;
	width: 24px;
	height: 22px;
    transform: scale(0.5);
}
.m_text{
    font-size: 14px;
    font-weight: bold;

}

.s_text{
    font-size: 12px;
}

body{
    background: #fafafa;
}

#header{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    z-index: 999;/*header가 항상 위에 존재*/
    background: white;
    border-bottom: 1px solid rgba(0,0,0,1);
}

#header .inner{
    width: 975px;
    height: 75px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#header .inner .logo > a{
    color: transparent;
}

/* #header .inner .logo div{
    vertical-align: middle;
} */

#header .inner .logo .insta_logo{
    position: relative;
    margin-right: 25px;
}
#header .inner .logo .insta_letter{
    position: relative;
    top:5px;
}


#header .inner .logo .insta_logo::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 30px;
    right: -20px;
    top: 0;
    background: #000;
}

#search_field{
    width: 170px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;/*둥글게*/
    padding: 3px 35px;/*상하  좌우*/
    color: #888;
    font-weight: 400;
    /* text-align: left; */
    font-size: 14px;
    outline: none;
}

#header .search_box .fake_field{
    position: absolute;
    font-size: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    pointer-events: none;
}

#header .search_box{
    position: relative;
}

#search_field::placeholder{
    font-size: 0;
    color: gray;
}

#header .search_box .fake_field > span:nth-child(2){
    color: #999;
}

#search_field:focus::placeholder{
    font-size: 16px;
    color:transparent;
}


#search_field:focus ~ .fake_field > span:nth-child(1){
    transform: translate(-102px);
}

#search_field:focus ~ .fake_field > span:nth-child(2){
    display: none;
}

#header .search_box .fake_field{
    position: absolute;

}

#header .right_icons{
    width: 200px;
    display: flex;/*flex 컨테이너로 만듦 넒이를 넓힘*/
    justify-content: space-between;/*flex 사이에 여유공간*/
}

#main_container{
    padding-top: 130px;
    display: flex;/*컨테이너에 배치할 때 사용*/
    justify-content: center;
}

#main_container .inner{
    width: 975px;
    /* height: 500px;
    background: red; */
}

.contents{
    width: 610px;
    height: auto;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 4px;
    margin-bottom: 60px;
    background-color: white;
}

.contents .top .profile_img{
    width: 30px;
    height: 30px;
    border-radius: 50%;/*사진 둥글게*/
    overflow: hidden;/*넘치는 사진 자름*/
    margin-right: 10px;
}

.contents .top .profile_img img{/*부모의 100%크기 딱 맞게*/
    width: 100%;
}

.contents .top .user_container{
    display: flex;
}

.contents .top{
    display: flex;
    justify-content: space-between;/*간격읠 최대한 벌린다*/
    align-items: center;
    padding: 10px 20px;
}

.contents .img_section {
    overflow: hidden;
}

.contents .img_section img{
    max-width: 100%;
    height: auto;
    display: block;
}

.contents .bottom_icons{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contents .bottom_icons .left_icons{
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contents .like{
    margin: 0 0 8px;
    padding: 0 16px;
    color: #262626;
}

.contents .comment_container{
    padding: 0px 16px;
}

.contents .comment_container .nick_name{
    margin: 0 0 0 -5px;
    padding: 0 0 0 5px;
}

.contents .my_comment_container .my_comment{
    display: flex;
}

.contents .other_comments_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contents .other_comments_container .other_comments{
    display: flex;
}